= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :slack_id
    = f.text_field :slack_id
  .field
    = f.label :slack_email
    = f.text_field :slack_email
  .field
    = f.label :slack_handle
    = f.text_field :slack_handle
  .field
    = f.label :available
    = f.check_box :available
  .field
    = f.label :product
    = f.text_field :product
  .actions
    = f.submit 'Save'
