%h1 Listing people

%table
  %thead
    %tr
      %th Name
      %th Slack
      %th Slack handle
      %th Available
      %th Product
      %th
      %th
      %th

  %tbody
    - @people.each do |person|
      %tr
        %td= person.name
        %td= person.slack_id
        %td= person.slack_handle
        %td= person.available
        %td= person.product
        %td= link_to 'Show', person
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Person', new_person_path
